{% extends "base.html" %} {% block title %}Leaderboard {{game.description}} {% endblock %} {% block content
%}
<h1>Leaderboard: {{game.description}}</h1>
<a href="/leaderboard">Back to game list</a>

<hr/>

<form id="add-form">
    <div class="form-field">
        <label for="user_name">User Name</label>
        <input
            placeholder="Your name..."
            required
            type="text"
            name="user_name" id="user_name"
        />
    </div>
    <div class="form-field">
        <label for="score">Score</label>
        <input
            placeholder="Your score..."
            required
            type="number"
            name="score" id="score"
        />
    </div>
    <div class="form-field">
        <label for="free_data">Free Data</label>
        <input
            placeholder="anything else?"
            required
            type="text"
            name="free_data" id="free_data"
        />
    </div>
    <button
        hx-post="/leaderboard/games/{{game.id}}/entries"
        hx-trigger="click"
        hx-target="#leaderboard-content"
        hx-swap="afterbegin"
    >
        Add
    </button>
</form>
<div
    id="list"
    hx-get="/leaderboard/games/{{game.id}}/entries"
    hx-target="this"
    hx-trigger="load"
    hx-swap="outerHTML"
>
    Loading...
</div>

{% endblock %}
